@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.taskItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background-color, #f0f0f0); /* Mặc định là #f0f0f0 nếu biến không tồn tại */
    box-shadow: 0 2px 4px var(--shadow-color, rgba(0, 0, 0, 0.1));
    animation: slideInFromLeft 0.5s ease-out;
}

.taskIcon {
    margin-right: 15px;
    transition: transform 0.2s;
}

.completed {
    color: var(--success-color, green);
}

.pending {
    color: var(--error-color, red);
}

.inProgress {
    color: var(--warning-color, orange);
}

.taskIcon:hover {
    transform: scale(1.1);
}

.taskName {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color, #000); /* Mặc định là màu đen nếu biến không tồn tại */
}
